html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

li {
    list-style: none;
    text-align: left;
    min-height: 27px;
    color: #eee;
    font-family: 'Raleway', sans-serif;
}

.nav-bar{
    padding: 10px 0;
    background: #4e62f7;
}

.right-panel{
    height: 400px;;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px 1px rgba(8, 8, 8, 0.62);
    padding: 10px 0 10px 0;
}


.heading {
    float: left;
    font-weight: 900;
    font-size: 28px;
    color: white;
    font-family: 'Bubbler One', sans-serif;
    margin: 0 10px !important;
}

.class-info-button{
    border-radius: 2px;
    background: white;
    box-shadow: 2px 4px 5px 0 rgba(25, 17, 17, 0.26);
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
    font-size: 20px;
}
.padding-0{
    padding: 0;
}

.modal-body{
    display: grid
}

.create-button{
    background: white;
    font-weight: 600;
}

/*********** Path Bar styling ************/
.path{
    height: 42px;
    padding: 6px;
    border: 0.5px solid #beb9b9;
    border-radius: 5px;
}

.path-directory-name{
    margin-left: 10px;
    float: left;
}

.folder-name-separator{
    font-size: 15px;
    font-weight: 100;
    color: #afa4a4;
}
/****************************************/

.folder-main{
    margin-top: 23px;
    display: inline-block;
}

.folder-list-heading{
    margin-bottom: 5px;
}
.folder-list-heading:hover{
    cursor: pointer;
}
.order-icon {
    font-size: 15px;
    font-weight: 100;
    color: gray;
    margin-left: 5px;
}

.create-icon{
    font-size: 15px;
    font-weight: 100;
    color: gray;
    margin-left: 5px;
}
.create-directory{
    padding-top: 7px;
    width: 100%;
    display: inline-block;
}

.create-directory:hover{
    cursor: pointer;
}

.custom-icon{
    font-size: 15px;
    font-weight: 100;
    color: gray;
}

.back-button{
    margin-top: 23px;
    display: inline-block;
}
.back-button:hover{
    cursor: pointer;
}

.folder-name{
    border-bottom: 0.5px solid #cac7c7;
    padding: 8px 23px;
    display: inline-block;
    width: 100%;
}

.folder-name:hover{
    cursor: pointer;
}

